.footer {
  width: 100%;
  background: #fec63e;
  color: #fff;
  padding: 20px 0;
  text-align: center;
  margin-top: 55px;
  font-family: "Poppins", sans-serif;

  @media screen and (max-width: 638px) {
    margin-top: 15px;
  }
}

.footer a {
  font-size: 18px;
  line-height: 25px;
  color: #0b0b0b;
  text-transform: uppercase;
  letter-spacing: .1em;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
}

.footer h3:after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background: #fec63e;
  margin: 6px 0 12px 0;
}

.footer_historia {
  padding-right: 40px;
}

.footer_contato ul li {
  font-size: 14px;
  line-height: 20px;
  font-family: "Poppins", sans-serif;
}

.footer_redes ul li {
  display: inline-block;
  margin-right: 10px;
}

.footer_redes ul li a {
  border: 3px solid #ecb430;
  display: block;
  padding: 10px;
  transition: all .5s ease;
}

.footer_redes ul li a:hover {
  border-color: #fff;
}

.copy {
  width: 100%;
  background: #0b0b0b;
  padding: 20px 0;
  font-family: "Poppins", sans-serif;
  text-align: center;

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    p {
      color: #ecb430;
      margin: 20px 0px;
    }
  }

  .logo-kacete {
    max-width: 80px;


    img {
      width: 100%;
    }
  }
}