.home-kacete {
  background-color: #0b0b0b;
  padding: 40px 80px 40px;
  display: flex;
  margin-top: 5px;
  border-top-left-radius: 60px;
  border-top-right-radius: 60px;
  text-align: center;

  .texto-informativo {
    margin: 0px 10%;

    &--titulo {
      font-family: "Poppins", sans-serif;
      color: #ecb430;
      font-size: 30px;
    }

    &--descricao {
      font-family: "Poppins", sans-serif;
      color: #fff;
      margin-top: 20px;
      font-size: 18px;
    }
  }
}